{{#unless post.comments}}
	<div class="alert alert-info" style="margin: 50px 0;">Sorry, no comments yet. Be the first: </div>
{{/unless}}

{{#each post.comments as |comment|}}
  <div class="panel panel-default">
    <div class="panel-body">
    	{{comment.body}}<br>
    	<img src="{{comment.user.avatar}}"> {{comment.user.username}} <br>
    	{{comment.date}}
    </div>
  </div>
{{/each}}

{{#if session.isAuthenticated}}
  <div class='box'>
      <img src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/>
      <textarea rows='2' placeholder='Add New Comment' value= {{body}} onchange={{action (mut body) value='target.value'}} />
      <button {{action 'submitComment' body post session}}>Submit</button>
  </div>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a room</button>
  </div>
{{/if}}