{{#unless room.posts}}
	<div class="alert alert-info" style="margin: 50px 0;"><b>Sorry, no posts yet.</b> Be the first: </div>
{{/unless}}

{{#each room.posts as |post|}}
  <div class="panel panel-default">
    <div class="panel-body">
    	<h3>{{#link-to 'posts' room.id post.id}}{{post.title}}{{/link-to}}</h3>
    	Posted by: {{post.user.username}} <br>
    	{{post.date}}
    </div>
  </div>
{{/each}}

{{#if session.isAuthenticated}}
  <div class='box'>
      <img src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/>
      <textarea rows='2' placeholder='Add New Post' value= {{title}} onchange={{action (mut title) value='target.value'}} />
      <textarea rows='2' placeholder='Post content' value= {{body}} onchange={{action (mut body) value='target.value'}} />
      <button {{action 'submitPost' title body room session}}>Submit</button>
  </div>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a post</button>
  </div>
{{/if}}