{{#unless room.posts}}
	<div class="alert alert-info" style="margin: 50px 0;"><b>Sorry, no posts yet.</b> Be the first: </div>
{{/unless}}

{{#each room.posts as |post|}}
  <div class="panel panel-default">
    <div class="panel-body">
    	<h3>{{#link-to 'posts' room.id post.id}}{{post.title}}{{/link-to}}</h3>
    	Posted by: {{post.user.username}} <br>
    	<em>{{post.date}}</em>
    </div>
  </div>
{{/each}}

{{#if session.isAuthenticated}}
  <h3 style="margin:75px 0 25px">Add a post:</h3>
  <form class='box'>
      <div style="margin-bottom: 25px;float:left">
          <img style="border-radius:9999px;" src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/><br>
          <div style="text-align:center;">{{session.currentUser.username}}</div>
      </div>
      <div style="float:right;width:calc(100% - 100px);">
        <div class="form-group">
          <textarea class="form-control" rows='2' placeholder='Add New Post' value= {{title}} onchange={{action (mut title) value='target.value'}} />
        </div>
        <div class="form-group">
          <textarea class="form-control" rows='2' placeholder='Post content' value= {{body}} onchange={{action (mut body) value='target.value'}} />
        </div>
        <button class="btn btn-default" {{action 'submitPost' title body room session}}>Submit</button>
      </div>
  </form>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a post</button>
  </div>
{{/if}}