<h4>Rooms:</h4>

{{#unless rooms}}
    <h4> No Rooms</h4>
{{/unless}}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Room name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each rooms as |room|}}
        <tr>
          <td class='posts'>
              {{#link-to 'rooms' room.id}}{{room.name}}{{/link-to}}
          </td>
          <td class="description">
              {{room.description}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if session.isAuthenticated}}
  <div class='box'>
      <img src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/>
      <textarea rows='2' placeholder='Add New Room' value= {{name}} onchange={{action (mut name) value='target.value'}} />
      <textarea rows='2' placeholder='Add description' value= {{description}} onchange={{action (mut description) value='target.value'}} />
      <button {{action 'submitRoom' name description session}}>Submit</button>
  </div>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a room</button>
  </div>
{{/if}}