<h4>EmberBoard -- Rooms</h4>

{{#unless rooms}}
    <h4> No Rooms</h4>
{{/unless}}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Room name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each rooms as |room|}}
        <tr>
          <td class='posts'>
              {{#link-to 'rooms' room.id}}{{room.name}}{{/link-to}}
          </td>
          <td class="description">
              {{room.description}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if session.isAuthenticated}}
  <h3>Add a new room: </h3>
  <form>
      <img src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/>
      <div class="form-group">
        <input type="text" class="form-control" rows='2' placeholder='Add New Room' value= {{name}} onchange={{action (mut name) value='target.value'}} />
      </div>
      <div class="form-group">
        <textarea class="form-control" rows='2' placeholder='Add description' value= {{description}} onchange={{action (mut description) value='target.value'}} />
      </div>
      <button {{action 'submitRoom' name description session}} class="btn btn-default">Submit</button>
  </form>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a room</button>
  </div>
{{/if}}