{{#unless post.comments}}
	<h1>Sorry, no comments yet. Be the first: </h1>
{{/unless}}

{{#each post.comments as |comment|}}
	{{comment.body}}<br>
	<img src="{{comment.user.avatar}}"> {{comment.user.username}} <br>
	{{comment.date}}
{{/each}}

{{#if session.isAuthenticated}}
  <div class='box'>
      <img src='{{session.currentUser.profileImageURL}}' height='70px' width='70px'/>
      <textarea rows='2' placeholder='Add New Comment' value= {{body}} onchange={{action (mut body) value='target.value'}} />
      <button {{action 'submitComment' body post session}}>Submit</button>
  </div>
{{else}}
  <div class="login">
    <button {{action "signIn" "twitter"}}>Login to add a room</button>
  </div>
{{/if}}